body {
  font-family:"Roboto";
  background-color: #fff;
}
h1 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5
}

p{
  color: #8f8f8f;
  line-height: 1.5;

}
li{
  color: #8f8f8f;
  line-height: 1.5;
  text-align: left;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;}




#title {
  background-image: url(../images/dreamstime_C.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  background-color: #000;
}

/* Navbar */

.navbar{
  padding:  0.5rem;
  background-color: #000;
}


.navbar-brand {
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 20px;
  color:#fff;

}

.nav-item{
  padding: 0 18px;
  color: #fff;
}
.nav-link {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
}
.title-text {
  text-align: center;
  margin-top: 20%;
  margin-bottom: 10%

}

/* CallToActionButton */

.Abutton{
   margin: 5% 5% 5% 5%;
   background-color: #000;
}
/* home section */

.home{
  padding-top: 20px;
  padding-bottom: 20px;
}


.intro-text{
  padding: 5% 3% 5% 0;
}
.home-image{
  float:right;
  width: 30%;
  margin-top: 70px;
  margin-left: 20px;

}


/* about-me */

#ABOUT-ME{
  background-color: #000;
  padding-top: 10%;
  padding-bottom: 10%
}

.am-title {
  font-size: 2.5rem;
  text-align: left;
  color: #fff;

}
.about-me-text {text-align: justify;
  padding: 5% 5% 3% 0;

}
.about-me-img{
  width: 100%;
  height: 100%;
  padding-top: 10px;
}
/* BUSINESS-SERVICES */

#BUSINESS-SERVICES{
  background-color: #fff;
  margin-bottom: 5%

}
.bs-intro{
  padding-top: 50px;
  padding-bottom: 20px;
  background-image: url(../images/dreamstime_B.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.title-bs{
margin: 10% 0 10% 0;

}
.p-bs{ text-align: center;
color: #fff;
}

/* Features */

.features {
  background-color: #fff;
  margin-top: 5%;
  margin-bottom: 5%
}
.feature-box {
  text-align: center;
}
.icon{
  padding-bottom: 20px;
  color: #ffd700;
}

/* specialist services */

.specialist{
  background-color: #000;
  text-align: center;
  padding: 5% 0 5% 0
}
.specialist-ul{
  display: inline-block;
        margin: 0;
        padding: 10px 0;
}
.SS-h1{
  margin-bottom: 0;
  margin-left: 0;

}

.web-image {
  float:left;

  margin-left: 10%;
  width:15%
}

/* Rates */
.rates-text{
  text-align: center;
  margin-top: auto;
  margin-bottom: 50px;
}
.rates-h1{
  color: #000;
}
/* Contact */
#CONTACT{
padding-top: 10%;
padding-bottom: 10%;


background-color: #000;
}

.contact-box{
  text-align: center;
}
#c-h2{
  color: #fff;
}
.btn-contact{
  color: #ffd700;
}

/* Form Box */

.form-box{
  text-align: center;
  color: #fff;
  padding-right: 5%;
  padding-left: 5%;
}


.form-top {
    padding: 0 25px 0 25px;
    background: #000;
    text-align: center;
}

.form-h2 { margin-top: 0; }

.form-bottom {
    padding: 0 25px 30px 25px;
    background: #000;
    text-align: left;
}

.form-bottom form textarea {
    height: 60px;
}
.form-bottom form .input-error {
    border-color: #d05a4e;
}
.fbutton{
  display: block;
margin-left: auto;
margin-right: auto;
   background-color: #000;
}



/* Footer */


#FOOTER{
  background-color: #fff;

}
.bottom-box{
  text-align: center;
  padding: 10px 0;


}
.to-top1{display: block;
margin-top: 40px;
margin-left: 50%;
margin-right: auto;
padding-bottom: 0;

}

.footer-link{
  block;

  margin-left: 20px;
  margin-right: auto;
  color:#000;
}
